bcrypt==4.3.0
pymongo==4.13.0
requests==2.32.5
robotframework==6.1.1
robotframework-assertion-engine==2.0.0
robotframework-browser==17.5.1
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.2.0
robotframework-requests==0.9.7
