attrs==25.3.0
bcrypt==4.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
Faker==19.8.0
grpcio==1.58.0
grpcio-tools==1.58.0
idna==3.10
jsonpath-ng==1.7.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
overrides==7.4.0
ply==3.11
protobuf==4.24.3
pymongo==4.13.0
python-dateutil==2.8.2
referencing==0.36.2
requests==2.32.5
robotframework==6.1.1
robotframework-assertion-engine==2.0.0
robotframework-browser==17.5.1
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.2.0
robotframework-requests==0.9.7
rpds-py==0.25.1
six==1.16.0
typing_extensions==4.8.0
urllib3==2.5.0
wrapt==1.15.0
